body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    
    max-width: 100rem;
    padding: 1rem;
   background: linear-gradient(to right, #030e10, #034c3d, #019ed2, #ec8ff6, #a843c8, #dd3885, #d12701, #e22c09, #c72604, #4b0304 );
   background-image: url("../images/experimentbackground1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   
  }

.container {
    width: 1200px;
    height:590px;
    position: relative;
    margin: 0.0001% auto;
    background: rgba(0, 0, 0, 0.534);
    padding: 5px;
    border-radius: 30px;
}

#myTableData{
    width: 35%;
    margin-left: 10px;
    float: left;
    border-collapse: collapse;
    height: 400px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#y_data{
    border-radius: 15px;
  width: 200px;
  height: 35px;
  border: 0px;
  background: linear-gradient(to right, #675f52a6, #7c56538a);
  box-shadow: 0 0 20px 9px  #675f5248;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
}

#editbutton{
    border-radius: 15px;
  width: 100px;
  height: 30px;
  border: 0px;
  background: linear-gradient(to right, #675f52a6, #7c56538a);
  box-shadow: 0 0 20px 9px  #675f5248;
  color: white;
  text-align: center;
  font-size: 20px;
}
#editbutton:hover {
  box-shadow: 0 0 20px 9px  #ffffff71;
  color: white;
  transition: 0.5s;
}

#generategraphbutton{
  border-radius: 15px;
  width: 100px;
  height: 50px;
  border: 0px;
  background: linear-gradient(to right, #675f52a6, #7c56538a);
  box-shadow: 0 0 20px 9px  #675f5248;
  color: white;
  text-align: center;
  font-size: 20px;
}

#generategraphbutton:hover {
  box-shadow: 0 0 20px 9px  #ffffff71;
  color: white;
  transition: 0.5s;
}

#chartTitle {
  background-color: white;
  background: white;
  color: white;
}

.backbutton {
  position: absolute;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 20px 9px  #ffffff13;
    border: 0;
    background: rgba(0, 0, 0, 0.342);
    outline: none;
    text-align: center;
    transition: 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.backbutton:hover {
  background:black;
  box-shadow: 0 0 20px 9px  #ffffff71;
  color: white;
}